*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   font-family: 'Roboto', sans-serif;
   background-color: #f4f4f4;
   background-image: url(imagem-fundo.jfif);
}
#logo{
   color: cadetblue;
   font-weight: bold;
   font-size: 20px;
}

.navbar{
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #333;
   flex-direction: column;
   height: 80px;
}

.navbar ul{
   display: flex;
}

.navbar a{
   text-decoration: none;
   color: #f4f4f4;
}

.navbar li{
   background-color: #333;
   padding: 5px 65px;
   list-style: none;
}

#artigos {
   width: 75%;
   margin: 5rem auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: white;
   border-radius: 10px;
   backdrop-filter: 1;
}

#artigos article {
   width: 250px;
   height: 400px;
   padding: 10px;
   border: 1px solid #ccc;
   border-radius: 10px;
   margin: 0 30px;
   margin-bottom: 30px;
}

#artigos .articles-container {
   display: flex;
   justify-content: space-evenly;
   width: 100%;
}

footer{
   text-align: center;
   display: flex;
   justify-content: space-between;
   background-color: #333;
   position: absolute;
   bottom: 0;
   justify-content: center;
   width: 100%;
   height: 40px;
   align-items: center;
   margin-top: auto;
}

footer p{
   width: 25%;
   color: #f4f4f4;
}

main{
   height: 500px;
   background-color: yellow;
   display: flex;
   flex-direction: row;
}

#titulo {
   text-align: center;
   margin-top: 20px;
}

#subtitulo
{
   text-align: center;
   margin-bottom: 20px;
   color: grey;
}